# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask-specific files
instance/
.webassets-cache

# Editors and Tools
.idea/
.vscode/settings.json
.pytest_cache/
.coverage
htmlcov/
cover/
nosetests.xml
coverage.xml
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# OS-specific files
.DS_Store
static/images_lemuriens_uploads